# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.*

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django Static / Media
backend/static_root/
backend/media/
backend/staticfiles/

# Certbot (Ignoramos los certificados autogenerados pero mantenemos la estructura)
certbot/conf/*
!certbot/conf/.gitkeep
certbot/www/*
!certbot/www/.gitkeep

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# logs
logs/
*.log
